name: Build and Publish Mod

on:
  workflow_dispatch:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-artifact: ${{ steps.build-artifact.outputs.path }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: runData with Gradle
        run: ./gradlew runData

      - name: Build with Gradle
        run: ./gradlew build

      - name: run Game Tests with Gradle
        run: ./gradlew runGametest

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: build/libs/*.jar

  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./build/libs

      - name: Publish to CurseForge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: 1379091
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          modrinth-id: d3ySFbJG
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/libs/*.jar
